* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section-title {
  font-size: 3.125rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
}
.btn-primary {
  padding: 20px 30px;
  background: #e95a08;
  width: 100%;
  border: none;
  font-weight: 600;
  color: #ffffff;
}
.text-color {
  color: #e95a08;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin-right: 20px;
}
nav ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #252432;
  fontweight: 700;
}
.dropdown-flex {
  display: flex;
}
/* Banner section start */
.banner {
  display: flex;
  align-items: flex-end;
  margin: 120px 0px;
}
.banner-title {
  color: #000000;
  font-size: 4.06rem;
  font-weight: 700;
  max-width: 570px;
  margin-bottom: 15px;
}
.fresh-color {
  color: #e95a08;
}
.banner-description {
  color: #00000080;
  font-weight: 400;
  font-size: 1.37rem;
  max-width: 570px;
}
/* Our plants section start */
.section-intro {
  text-align: center;
}
.section-description {
  color: #00000080;
  font-size: 1.37rem;
  font-weight: 400;
  max-width: 888px;
  text-align: center;
  margin: 0 auto;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px 0px;
  gap: 15px;
}
.card {
  max-width: 270px;
}
.card-body {
  text-align: center;
  margin-top: 25px;
}
.card-title {
  font-size: 1.37rem;
  color: #111111;
  font: 500;
}
.price-title {
  font-size: 1.37rem;
  color: #111111;
  font: 700;
  display: block;
  margin: 20px 0px;
}
/* flower and plants section start */
.flower-plants {
  margin: 150px 0px;
}
.flower-and-plants-wapper {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.img-container {
  position: relative;
}
.trusted-badge {
  position: absolute;
  top: -218px;
  right: -141px;
}
.flower-title {
  max-width: 540px;
  font-size: 3.125rem;
  font-size: 700;
  color: #000000;
  margin-bottom: 20px;
}
.list-description {
  max-width: 540px;
  font-weight: 400;
  font-size: 1.375rem;
  color: #00000080;
  margin-bottom: 20px;
}
/* join section start */
.join-section-container {
  background-image: linear-gradient(rgb(0 0 255 / 0.5), rgb(255 255 0 / 0.5)),
    url("../assets/news-letter-bg.png");
  height: 533px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 120px;
}
.join-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0px;
    width: 100%;
}
.join-title{
    font-size: 3.125rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.join-btn{
    display: flex;
    justify-content: center;
}
.search-btn{
    flex: 1;
    padding: 20px;
    border: none;
    outline: none;

}
.join-btn .btn-primary{
    width: 25%;
}












/* responsive for mobile devices */
@media (max-width: 576px) {
  .container {
    margin: 0px 10px;
  }
  .dropdown-collapse {
    display: none;
  }
  .flower-and-plants-wapper {
    flex-direction: column;
  }
  .banner {
    flex-direction: column-reverse;
    gap: 15px;
  }
  .banner-title {
    font-size: 1.5rem;
  }
  .bannner img {
    width: 100%;
  }
  .section-title {
    font-size: 1.5rem;
  }
  .section-description {
    font-size: 0.87rem;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .trusted-badge {
    display: none;
  }
}
